{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<!-- <div class="recom-info-section">
	</div> -->
	<style>
		.recom-selection-section {
			margin-bottom: 3rem;
		}
		#ratings-part, #subcat-part {
			margin-left: .5rem;
		}
	</style>
	<div class="row recom-selection-section">
		<!-- <select id="choosing-part">
			<option value="1">Ratings</option>
			<option value="2">Subcategories</option>
		</select>
		<select id="ratings-part">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select> -->
		<select id="subcat-part">
			{% for product in products %}
			<option value="{{ product.id }}">{{ product.name }}</option>
			{% endfor %}
		</select>
		<button class="rating_submit_btn btn btn-outline-info mx-2" id="enter-recommendation"">Enter</button>
	</div>

	<div class="recom-general-heading">
	</div>

{% endblock content %}

